
<h3>Mon pangolin</h3>
  <p>nom {{ user.username }}</p>
  <p>email {{ user.email }}</p>
  <p>role {{ user.role }}</p>

  <h3>Ajouter un ami </h3>
  <form [formGroup]="Addform" (ngSubmit)="NewUser()">

  
    <div class="form-group">
      <label for="Username">Username</label>
      <input type="text" class="form-control" id="username" formControlName="username">
    </div>
  
    <div class="form-group">
      <label for="email">Email</label>
      <input type="email" class="form-control" id="email" formControlName="email">
    </div>
  
    <label for="role">Rôle:</label>
    <select id="role" formControlName="role">
      <option value="" disabled selected>Choisissez un rôle</option>
      <option *ngFor="let role of roles" [value]="role">{{ role }}</option>
    </select>
  

  
    <button type="submit" class="btn btn-primary">Ajouter l'ami</button>

  </form>

  <form  [formGroup]="frmGroup" (ngSubmit)="Modifier()"></form>



    <h3> Mes amis</h3>
    <div *ngIf="information">
    <div *ngFor="let pangolin of information.friends">
      <h2>{{ pangolin.username }}</h2>
      <p>role: {{ pangolin.role }}</p>
      <p>mail: {{ pangolin.email}}</p>
      <button mat-button color="primary" (click)="DeleteFriend(pangolin._id)">Supprimer l'ami</button>
    </div>
  </div>
  


